* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

#map {
}

#pauk,
#oil {
	width: 60px;
	height: 60px;
}

/* ---------------popup styling-------------- */
.maplibregl-popup-content {
	border-radius: 10px !important;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1) !important;
	padding: 0px !important;
	height: fit-content !important;
}

.maplibregl-popup-close-button {
	display: none !important;
}

.custom-popup {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding: 15px 10px; */
}

.custom-popup h4 {
	width: 100%;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	background-color: red;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 10px 15px;
	border-bottom: 1px solid rgba(116, 114, 114, 0.342);
}
.custom-popup p {
	font-size: 18px;
	color: rgb(112, 112, 112);
	padding: 10px 15px;
}

.custom-popup div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	border-top: 1px solid rgba(116, 114, 114, 0.342);
}

.custom-popup div p:nth-child(1) {
	align-self: stretch;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	color: white;
	border-bottom-left-radius: 10px;
	border-right: 1px solid rgba(116, 114, 114, 0.342);
}

.custom-popup div p:nth-child(2) {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2px;
	flex-grow: 1;
}

/* ---------------div content styling-------------- */
.zona_container {
	position: absolute;
	right: 10%;
	top: 20%;
	width: 300px;
	height: fit-content;
	background-color: white;
	border-radius: 10px;
	display: none;
}

.zona_container > :first-child {
	border: 1px solid rgb(116, 114, 114);
	padding: 18px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.zona_container div:first-child h3 {
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
}

.zona_container div:first-child p {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}

.zona_container .cijena {
	font-size: 16px;
	padding: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(116, 114, 114, 0.342);
}

.zona_container .cijena span {
	color: #575656cc;
}

.zona_container .tarifa {
	display: flex;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(116, 114, 114, 0.342);
}

.zona_container .tarifa p {
	flex-basis: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	font-size: 16px;
	text-transform: uppercase;
	color: red;
	font-weight: 600;
}

.zona_container .tarifa p:nth-child(1) {
	border-right: 1px solid rgba(116, 114, 114, 0.342);
}

.zona_container .tarifa p:nth-child(2) {
	flex-direction: column;
}

.zona_container .tarifa p:nth-child(2) span {
	color: #575656cc;
}

.zona_container .info {
	padding: 15px;
	font-size: 14px;
	border-bottom: 1px solid rgba(116, 114, 114, 0.342);
}

.zona_container .sms {
	padding: 15px;
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 20px;
}

.zona_container .sms > div {
	display: flex;
	align-items: center;
	font-size: 12px;
}

.zona_container .sms > div > p {
	font-size: 12px;
}

.zona_container .sms > p:first-of-type {
	font-size: 18px;
	font-weight: 600;
}

.zona_container .phoneInfo {
	padding: 15px;
	font-size: 14px;
	display: flex;
	align-items: center;
}

.zona_container .ravnice {
	padding: 15px;
	font-size: 14px;
	color: #575656cc;
}

.active {
	display: block;
}

/* ---------------message info--------------------------------- */
.sms_container {
	position: absolute;
	bottom: 10%;
	left: 5%;
	right: 5%;
	display: flex;
	pointer-events: none;
}

.message_info {
	height: 60px;
	width: fit-content;
	display: flex;
	align-items: center;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	cursor: pointer;
	font-size: 14px;
	z-index: 100;
	pointer-events: auto;
	transition: all 0.5s ease;
}

.message_info:hover {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.message_info:hover + .numbers_info {
	transform: translateX(0px);
	opacity: 1;
}

.numbers_info {
	/* position: absolute;
	bottom: 10%;
	left: calc(5% + 150px); */
	height: 60px;
	display: flex;
	align-items: center;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left: 1px solid rgba(163, 163, 163, 0.788);
	background-color: white;
	cursor: pointer;
	gap: 15px;
	opacity: 0;
	transform: translateX(-150px);
	z-index: 10;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

.numbers_info p {
	font-size: 14px;
	color: black;
	padding: 0px 0px 0px 15px;
}

.numbers_info ul {
	display: flex;
	align-items: center;
	list-style: none;
	align-self: stretch;
}
.numbers_info ul li {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 0px 5px;
	font-size: 14px;
	color: white;
	align-self: stretch;
	border: 1px solid rgba(163, 163, 163, 0.788);
}

.numbers_info ul li:nth-of-type(1) {
	background-color: #ba0909;
}
.numbers_info ul li:nth-of-type(2) {
	background-color: #0051ff;
}
.numbers_info ul li:nth-of-type(3) {
	background-color: #f2af13;
}
.numbers_info ul li:nth-of-type(4) {
	background-color: #96249c;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* ---------------OIl info--------------------------------- */
.zona_container[data-value="6"] > div:nth-of-type(1) {
	background-color: rgb(53, 53, 53);
	color: white;
	text-align: center;
}

.zona_container[data-value="6"] > div {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: start;
	font-size: 14px;
	border-bottom: 1px solid rgba(82, 82, 82, 0.575);
}

.zona_container[data-value="6"] > div:last-of-type {
	padding: 15px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: start;
	font-size: 14px;
	border: none;
}

.zona_container[data-value="6"] > div:last-of-type > p {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	font-size: 30px;
	font-weight: bold;
}

.zona_container[data-value="6"] a {
	color: red;
	text-decoration: none;
}

/* ---------------Pauk info--------------------------------- */
.zona_container[data-value="5"] > div:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	background-color: rgb(53, 53, 53);
	color: white;
	text-align: center;
}

.zona_container[data-value="5"] > div {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: start;
	font-size: 14px;
	border-bottom: 1px solid rgba(116, 114, 114, 0.342);
}

.zona_container[data-value="5"] > div:last-of-type {
	padding: 15px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: start;
	font-size: 14px;
	border: none;
}

.zona_container[data-value="5"] > div:last-of-type > p {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	font-size: 30px;
	font-weight: bold;
}

.zona_container[data-value="5"] a {
	color: red;
	text-decoration: none;
}

/* ---------------responsive styling------------------------ */
@media only screen and (max-width: 630px) {
	.numbers_info {
		flex-direction: column;
		gap: 0px;
	}
	.numbers_info p {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.numbers_info ul li:nth-of-type(4) {
		border-top-right-radius: 0px;
	}
}

@media only screen and (max-width: 450px) {
	.message_info {
		padding: 5px;
	}

	.numbers_info p {
		display: none;
	}

	.numbers_info ul {
		flex-grow: 1;
	}

	.numbers_info ul li {
		font-size: 12px;
		padding: 0px;
	}

	.numbers_info ul li:nth-of-type(4) {
		border-top-right-radius: 10px;
	}
}
